/* Fonts */
* {
    font-family: 'Montserrat', sans-serif;
}

/* prevent user selecting  */
body {
    user-select: none;
}

/* Custom Button Style */
.custom-button {
    font-size: small;
    outline: none;
    background-color: #01405a;
    color: white;
    padding: 2px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.custom-button:hover {
    background-color: #005e86;
}

.custom-button:focus {
    outline: none;
}

/* custom scrollbar */
*::-webkit-scrollbar {
    width: 5px;
}

*::-webkit-scrollbar-track {
    background: #242424;
}

*::-webkit-scrollbar-thumb {
    background-color: rgb(172, 172, 172);
}

/* contact styles */
#contact h6 {
    position: relative;
    font-size: small;
    background-color: #01405a;
    border-radius: 3px;
    padding-top: 8px;
    padding-bottom: 8px;
}

#contact p,
a {
    padding: 0px;
    margin: 0px;
    font-size: small;
}

#contact a {
    text-decoration: none;
    color: #40c9ff;
}

#contact a:hover {
    color: #baf2fa;
}

#contact h6>i {
    color: #40c9ff;
    position: absolute;
    left: 12px;
    padding: 0;
    margin: 0;
    font-size: larger;
}

/* animated-icon */
.animated-icon {
    display: inline-block;
    color: #0086c0;
    animation: moveUpDown 1.5s ease-in-out infinite alternate;
  }
  
  @keyframes moveUpDown {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-10px);
    }
  }
  